{% extends "layout.html" %}

{% block main %}
<main class="main">
        <div class="container">
            <article class="article">
            <div class="content">
                <span><a class="content__i-do-ref" href="#">I Do Travel</a></span>
                <div class="content__date">Sep 20</div>
                <h1 class="content__header">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
                <hr class="content__hr">
                <div class="content__text content__text_theme_simple">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</div>
                <span><a class="content__read-more-ref" href="#">read more</a></span>
                <ul class="hashtags">
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Yosemite</a></li>
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Peak</a></li>
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Explorer</a></li>
                </ul>
            </div>
        </article>
        <article class="article">
            <div><img src="../images/body/img.jpeg" alt="mountains"></div>
            <div class="content">
                <span><a class="content__i-do-ref" href="#">I Do Observe</a></span>
                <div class="content__date">Sep 18</div>
                <h1 class="content__header">You know, I'd rather argue with you, then laugh with anyone else.</h1>
                <hr class="content__hr">
                <div class="content__text content__text_theme_italic">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</div>
                <div class="content__text content__text_theme_simple">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</div>
                <div class="content__text content__text_theme_simple">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</div>
                <span><a class="content__read-more-ref" href="#">read more</a></span>
                <ul class="hashtags">
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Yosemite</a></li>
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Peak</a></li>
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Photo</a></li>
                </ul>
            </div>
        </article>
        <article class="article">
            <div class="content">
                <span><a class="content__i-do-ref" href="#">I Do Reflect</a></span>
                <div class="content__date">Sep 11</div>
                <h1 class="content__header">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
                <hr class="content__hr">
                <div class="content__aside-image"><img src="../images/body/img-figure.jpeg" alt="figure"></div>
                <div class="content__text content__text_theme_simple">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</div>
                <div class="content__text content__text_theme_simple">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, vestibulum malesuada justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</div>
                <div class="content__text content__text_theme_blockquote">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</div>
                <div class="content__text content__text_theme_simple">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</div>
                <span><a class="content__read-more-ref" href="#">read more</a></span>
                <ul class="hashtags">
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Democracy</a></li>
                    <li class="hashtags__item"><a class="hashtags__item-ref" href="#">#Introspection</a></li>
                </ul>
            </div>
        </article>
        </div>
    </main>
      {% endblock %}
      