<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700i" rel="stylesheet">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <title>Palo Alto</title>
  </head>
  <body>
      <!---------------------------------Header-Block--------------------------------->
    <header class="header">
        <span class="logo">
        
        </span>
        <ul class="navigation">
            <li class="navigation__item"><a class="navigation__ref" href="#">home</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">about</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">archive</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">contact</a></li>
        </ul>
    </header>
    <main class="main">
        
    </main>
      <!---------------------------------End-Main--------------------------------->
      <footer class="footer">
        
      </footer>
  </body>
</html>