<div class="article">
  <div class="article__image">
      <img src="{{mainimage}}">
  </div>
  <div class="content">
    <span>
        <a class="content__i-do-ref" href="#">I Do Travel</a>
    </span>
    <div class="content__date">{{date}}</div>
    <h1 class="content__header">{{header}}</h1>
    <hr class="content__hr">
    <div class="content__aside-image">
      <img src="{{asideimage}}">
    </div>
    <div class="content__text content__text_theme_italic">{{paragraph1}}</div>
    <div class="content__text content__text_theme_simple">{{paragraph2}}</div>
    <div class="content__text content__text_theme_simple">{{paragraph3}}</div>
    <div class="content__text content__text_theme_blockquote">{{paragraph4}}</div>
    <div class="content__text content__text_theme_simple">{{paragraph5}}</div>
    <span><a class="content__read-more-ref" href="#">read more</a></span>
    <ul class="hashtags">
      <li class="hashtags__item"><a class="hashtags__item-ref" href="#">{{hashtags[0]}}</a></li>
      <li class="hashtags__item"><a class="hashtags__item-ref" href="#">{{hashtags[1]}}</a></li>
      <li class="hashtags__item"><a class="hashtags__item-ref" href="#">{{hashtags[2]}}</a></li>
    </ul>
  </div>
</div>
