@font-face {
font-family: Lato-Bold;
src: url(../fonts/Lato-Bold.ttf) format("truetype");
} 
@font-face {
font-family: Lato-Regular;
src: url(../fonts/Lato-Regular.ttf) format("truetype");
} 
@font-face {
font-family: Lato-BoldItalic;
src: url(../fonts/Lato-BoldItalic.ttf) format("truetype");
} 
body {
    background-color: #f7f9fc;
}
.header {
    margin: 0 auto;
    width: 970px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.logo__ref {
    font-family: Lato-BoldItalic, 'Lato', sans-serif;
    color: #333333;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.nav {
    margin: 0;
    padding: 4px;
    float: right;
}
.navigation__item  {
    display: inline;
    margin-left: 25px; 
    line-height: 25px;
}
.navigation__ref {
    font-family: Lato-Bold, 'Lato', sans-serif;
    text-transform: uppercase;
}
.navigation__search-h {
     color: #333333;
}
.navigation__search-h:hover {
   color: #5c6bc0;
}
.navigation__search-f {
    padding: 5px;
}
.navigation__search-f:hover {
    background-color: rgba(0, 0, 0, 0.1) ;
}
.navigation__ref_theme_black {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}
.navigation__ref_theme_black:hover{
    border-bottom: 2px solid;
    border-bottom-color: #5c6bc0;
}
.navigation__ref_theme_black:active{
    border-bottom-color: #5c6bc0;
}
.navigation__ref_theme_white {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.navigation__ref_theme_white:hover {
    text-decoration: underline;
}
.main {
    margin: 0 auto;
    width: 952px;
}
.container {
     margin-bottom: 100px;
}
.article {
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0.00px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    position: relative;
}
.content__i-do-ref {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    background-color: #5c6bc0;
    color: #ffffff;
    float: right;
    position: absolute;
    right: -10px;
}
.content__i-do-ref:hover {
     padding: 15px;
    background-color: #5b3aa0;
}
.content__i-do-ref:active {
     padding: 15px;
    background-color: #5c6bc0;
}
.content__date {
    font-family: Lato-Bold, 'Lato', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 700;
}
.content__header {
    font-family: Lato-Bold, 'Lato', sans-serif;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
}
.content__hr {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 40px;
}
.content__text {
    line-height: 1.5;
    margin-bottom: 30px;
}
.content__text_theme_simple {
    font-family: Lato-Regular, 'Lato', sans-serif;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.content__text_theme_italic {
    font-family: Lato-BoldItalic, 'Lato', sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-weight: normal;
}
.content__text_theme_blockquote {
    font-family: Lato-Regular, 'Lato', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    padding-left: 20px;
}
.content__read-more-ref {
    font-family: Lato-Bold, 'Lato', sans-serif;
    font-size: 21px;
    color: #5c6bc0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}
.content__read-more-ref:hover {
    border: 1px solid;
    padding: 14px;
    border-color: rgba(0, 0, 0, 0.1);
}
.content__read-more-ref:active {
    border: 1px solid;
    padding: 14px;
    border-color: blue;
}
.content__header-с {
    font-family: Lato-Bold, 'Lato', sans-serif;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hashtags {
    margin: 0;
    float: right;
}
.hashtags__item {
    display: inline;
    margin-left: 5px; 
}
.hashtags__item-ref {
    font-family: Lato-Regular, 'Lato', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
}
.hashtags__item-ref:hover {
    color: blue;
    text-decoration: underline;
}
.hashtags__item-ref:active {
    color: blue;
}
.content__aside-image {
    float: left;
}
input, textarea, button {
   border: none;
}
.form-contact__input {
    font-family: Lato-Regular, 'Lato', sans-serif;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.3);
    font-weight: 400;
    background-color: #f7f9fc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.form-contact__name {
    width: 340px;
    margin-right: 20px;
}
.form-contact__email {
    width: 340px;
}
.form-contact__subject {
    margin-left: 6px;
    width: 726px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-contact__message {
    margin-left: 6px;
    width: 726px;
    height: 150px;
    display: block;
}
.form-contact__button {
    display: block;
    font-family: Lato;
    font-size: 24px;
    background-color: #ffffff;
    color: #5c6bc0;
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
}
.form-contact__button:hover {
    border: 1px solid;
    padding: 14px;
    border-color: rgba(0, 0, 0, 0.1);
}
.form-contact__button:active {
    border: 1px solid;
    padding: 14px;
    border-color: blue;
}
.footer {
    background-color: #5c6bc0;
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.footer-header__ref {
    font-family: Lato-BoldItalic, 'Lato', sans-serif;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.2);
    font-style: italic;
    font-weight: 700;
    margin-top: 50px;
}
.footer-content {
   margin: 0 auto;
   width: 800px;
   text-align: center;
}
.footer__text {
    font-family: Lato-Regular, 'Lato', sans-serif;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 2;
}
.footer__copyright {
    font-family: Lato-Regular, 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}
.team-name {
    font-family: Lato-Bold, 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
}
.team-name:hover {
   text-decoration: underline;
}
.share-icons__item {
    padding: 4px;
    height: 50px;
    color: #ffffff;
    margin-right: 15px;
    margin-bottom: 10px;
}
.share-icons__item:hover {
    background-color: rgba(0, 0, 0, 0.1);  
}